<div class="row">
    <div class="col-lg-12">
        <h1>Czym jest I OWE YOU!?</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <p>
            Jest to aplikacja która pomożę tobie oraz twoim znajomych w rozliczaniu się z wydatków.
            Aplikacja jest szczególnie przydatna w trakcie imprez lub wśród współlokatorów.
            Aby rozpocząć:
        </p>
        <ul>
            <li>Utworz konto za pomocą facebooka. Automatycznie zostanie pobrana lista twoich znajomych którzy posiadają konto w serwisie.</li>
            <li>Dodaj dług dowolnej liczbie znajomych. Kwota zostanie podzielona pomiedzy wszystkich zainteresowanych. Każdy z nich zostanie poinformowany email'em.</li>
            <li>Poczekaj aż wpis zostanie zaakceptowany lub odrzucony</li>
        </ul>
    </div>
    <div class="col-lg-4" ng-controller="AuthenticationController">
        <div ng-include="'/views/auth/right.html'"></div>
    </div>
</div>
